* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Times, serif;
}

body {
    background: url("../images/background.png") no-repeat fixed center/cover;
    z-index: 2;
}

a {
    text-decoration: none;
    display: inline-block;
}

.showcase {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase div {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.btn {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 7px 20px;
    text-align: center;
}

.greeting {
    margin-top: 150px;
    margin-bottom: 10px;
}

.greeting div {
    color: #ffffff;
}

.greeting div p {
    font-size: 5rem;
    font-weight: 700;
}

.right {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(#00545d, #000729);
    background: -webkit-linear-gradient(#00545d, #000729);
    background: -moz-linear-gradient(#00545d, #000729);
    /* background-color: rgba(12, 12, 94, 0.1);
    opacity: 0.4;
    border-left: 2px solid rgba(10, 10, 110, 0.5); */
}

.right img {
    width: 40px;
    display: block;
    margin-top: 10px;
    margin-left: 15px;
}

.right div:first-child {
    margin-top: 20px;
}

.right div:nth-child(2) {
    margin-top: 150px;
}

.right div:last-child {
    margin-top: 100px;
}

.bubbles {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

.bubbles img {
    height: auto;
    width: 50px;
    animation: bubble 7s linear infinite;
}

@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}

.bubbles img:nth-child(2) {
    animation-delay: 1s;
}

.bubbles img:nth-child(3) {
    animation-delay: 3s;
    width: 25px;
}

.bubbles img:nth-child(4) {
    animation-delay: 4.5s;
}

.bubbles img:nth-child(5) {
    animation-delay: 3s;
}

.bubbles img:nth-child(6) {
    animation-delay: 2s;
    width: 20px;
}

.bubbles img:nth-child(7) {
    animation-delay: 2s;
    width: 35px;
}

/*container*/
.container {
    width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
}

